<div class="drawer">
  <!-- Drawer Toggle -->
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />

  <!-- Main contentエリア -->
  <div class="drawer-content flex flex-col">
    <!-- Navbar部分 -->
    <div class="navbar bg-[#1e3a8a] w-full">
      <div class="mx-2 flex-1 px-2">
        <%= link_to 'Room Share', root_path, class: 'text-2xl text-white' %>
      </div>
      <div class="hidden flex-none lg:block">
        <ul class="menu menu-horizontal items-center">
          <% unless session[:user_id] %>
            <li><%= link_to 'ログイン', login_path, class: 'text-white' %></li>
            <li><%= link_to '新規登録', signup_path, class: 'text-white' %></li>
          <% end %>
          <% if session[:user_id] %>
            <!-- ユーザー名とアバター -->
            <li>
              <details class="dropdown dropdown-end">
                <summary class="flex items-center space-x-3 cursor-pointer text-white">
                  <!-- アバター -->
                  <div class="mask mask-squircle w-12 h-12">
                    <% if @user && @user.image.attached? %>
                      <%= image_tag @user.image.variant(resize_to_fill: [50, 50]), class: "rounded-full" %>
                    <% else %>
                      <%= image_tag "default-avatar.png", class: "rounded-full", size: "50x50" %>
                    <% end %>
                  </div>
                  <!-- ユーザー名 -->
                  <span class="font-medium">
                    <%= current_user.name %>
                  </span>
                </summary>
                <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                  <li>
                    <%= link_to 'マイページ', user_path(session[:user_id]) %>
                  </li>
                  <li>
                    <%= link_to '施設一覧', rooms_path %>
                  </li>
                  <li>
                    <%= link_to '予約一覧', reservations_path %>
                  </li>
                  <li>
                    <%= link_to 'ログアウト', logout_path, method: :delete %>
                  </li>
                </ul>
              </details>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
