    <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |message| %>
        <ul>
          <li><%= message %></li>
        </ul>
      <% end %>
    <% end %>

<div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-lg mt-9">
  <h2 class="text-4xl font-semibold text-gray-800 mb-6 text-center">プロフィール編集</h2>

  <%= form_with(model: @user, url: update_profile_user_path(@user), method: :patch, remote: true, multipart: true) do |f| %>
    <div class="mb-4 mt-6">
      <%= f.label :image, "プロフィール画像", class: "block text-gray-700 font-medium text-left" %>
      <%= f.file_field :image, class: "border border-gray-300 rounded p-3 w-full focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>

    <div class="mt-6 mb-6">
      <%= f.label :name, "名前", class: "block text-gray-700 font-medium text-left" %>
      <%= f.text_field :name, class: "border border-gray-300 rounded p-3 w-full focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>

    <div class="mb-6 mt-6">
      <%= f.label :profile, "自己紹介", class: "block text-gray-700 font-medium text-left" %>
      <%= f.text_area :profile, class: "border border-gray-300 rounded p-3 w-full focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>


  <!-- 戻るボタン -->
  <div class="flex justify-center gap-4 ">
    <div class="mt-6 mb-6">
      <%= link_to '戻る', :back, class: "btn btn-sm btn-base-content px-4" %>
    </div>

    <!-- 更新ボタン -->
    <div class="mt-6 mb-6">
      <%= f.submit "更新", class: "btn btn-sm btn-info px-4" %>
    </div>
  </div>

  <% end %>
</div>
