<!DOCTYPE html>
<html>
  <head>
    <title>RoomShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flash-messages" class="fixed top-0 left-1/2 transform -translate-x-1/2 z-50">
      <% if flash[:notice] %>
        <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded shadow-md mb-2">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </div>

    <header>
      <%= render "./shared/header.html.erb" %>
    </header>

    <div class="min-h-screen">
        <%= yield %>
    </div>



    <footer>
      <%= render "./shared/footer.html.erb" %>
    </footer>
  </body>
</html>
